body {
    background-color: white;
}

.logo {
    text-align: center;
}

.logo img {
    width:60%;
    height:20%;
}

.logo .contactBtn {
    position:absolute;
    top:100px;
    right:50px;
    transform: translate(-10%,-10%);
    background-color:#f3cbf7;
    color:black;
    font-size:80px;
    padding: 12px 24px;
    border:none;
    cursor:pointer;
}

.logo .contactBtn:hover {
    background-color:#cda5d1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;

}

.grid-item img {
    width: 10%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}