body {
    background-color: white;
}

.logo {
    text-align: center;
}

.logoimg {
    width:60%;
    height:20%;
}

.maingallery {
    text-indent:10%;
}

.maingalleryimg {
    text-indent:10%;
}
