body {
    background-color: white;
}

.logo {
    text-align: center;
}

.logoimg {
    width:60%;
    height:20%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    width: 100px;
}